@using Entities.Models
@{
    Layout = "_Layout";
}
@model IQueryable<Product>

@* Section'lar sayfa gerekliliğine göre kullanılabilir. Belirleneceği alan fark etmiyor. *@
@section Footer {
    <div>
        Only For Index footer
    </div>
}
<div class="row my-3">
@foreach (Product product in Model)
{
        <partial name="_ProductCard" model="@product" />
}
</div>