@{
    Layout = "_Layout";
}
@model List<Product>
    
@* Section'lar sayfa gerekliliğine göre kullanılabilir. Belirleneceği alan fark etmiyor. *@
@section Footer {
    <div>
        Only For Index footer
    </div>
}
@foreach (Product product in Model)
{
    <div>
        <h3>@product.ProductName</h3>
        <p>@product.Price</p>
        <p><a href="/Product/Get/@product.ProductId">Get Details</a></p>
    </div>
}
